<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Martins App</title>
</head>
<body>
<header>
    <a href="http://localhost:8080/">Index</a>
    <a href="http://localhost:8080/getFirst">First Movie</a>
    <a href="http://localhost:8080/getRandom">Random Movie</a>
    <a href="http://localhost:8080/getTenSortByPopularity">Random top ten</a>
    <a href="http://localhost:8080/howManyWonAnAward">Award winner amount</a>
    <a href="http://localhost:8080/filter?character=s&amount=4">Filter</a>
    <a href="http://localhost:8080/howManySequels?g1=Drama&g2=Romance">Sequels</a>
    <a href="http://localhost:8080/comedyAwardWinners">Comedy award winners</a>
</header>
<h1>Welcome to my application</h1>

</body>
</html>