<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Martins App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<header>
    <a href="http://localhost:8080/">Index</a>
    <a href="http://localhost:8080/getFirst">First Movie</a>
    <a href="http://localhost:8080/getRandom">Random Movie</a>
    <a href="http://localhost:8080/getTenSortByPopularity">Random top ten</a>
    <a href="http://localhost:8080/howManyWonAnAward">Award winner amount</a>
    <a href="http://localhost:8080/filter?character=s&amount=4">Filter</a>
    <a href="http://localhost:8080/howManySequels?g1=Drama&g2=Romance">Sequels</a>
    <a href="http://localhost:8080/comedyAwardWinners">Comedy award winners</a>
</header>

<body>
<table class="table table-dark">

    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Year</th>
        <th scope="col">Length</th>
        <th scope="col">Subject</th>
        <th scope="col">Popularity</th>
        <th scope="col">Awards</th>
    </tr>
    </thead>
    <tbody>
    <td th:text="${movie.id}"></td>
    <td th:text="${movie.title}"></td>
    <td th:text="${movie.year}"></td>
    <td th:text="${movie.length}"></td>
    <td th:text="${movie.subject}"></td>
    <td th:text="${movie.popularity}"></td>
    <td th:text="${movie.awards}"></td>
    </tbody>
</table>

</body>
</html>